@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Titillium Web, sans-serif;
    color: #fff;
    background-color: #26734d;
}

h1 {
    float: left;
    font-size: 300%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #fff;
    position: absolute;
}

h1:hover {
    border-bottom: 2px solid #fff;
}

#navigation {
    font-size: 150%;
    letter-spacing: 2px;
}

#navigation li {
    list-style-type: none;
    margin-right: 40px;
    float: right;
    padding-top: 35px;
    font-weight: 800;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 2px solid #fff;
}

#group-image {
    width: 66%;
    height: 485px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

#opener p {
    float: right;
    font-size: 200%;
    width: 30%;
    margin-right: 15px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 120px;

}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-left: 10px;
}

.social-links {
    text-align: center;
    font-size: 150%;
}

.social-links li {
    list-style-type: none;
    color: #fff;
    display: inline-block;
}

.social-links i {
    color: #fff;
    margin: 1%;
    padding: 10px;
}

h2 {
    float: left;
    margin-top: 100px;
    margin-left: 15px;
    text-align: left;
}

#friends-image {
    width: 40%;
    height: 450px;
    float: left;
    margin-top: 100px;
    margin-left: 10px;
}

.book-info {
    clear: left;
    float: right;
    margin-top: 120px;
    margin-left: 15px;
}

h4 {
    float: right;
    margin-right: 15px;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 5px;
    text-align: left;
}

.table-info {
    float: right;
    margin-right: 15px;
    width: 35%;
}

.joinus-section {
    clear: left;
}

.joinus-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.joinus-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.form-text {
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.joinus-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.joinus-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}